/* Color blanco base */
.navbar .icon-white {
  color: white;
}

/* Transiciones y animaciones de íconos */
.navbar .icon-hover {
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Efecto al pasar el mouse */
.navbar .icon-hover:hover {
  color: #10b981;
  /* Color verde SaYSa al hacer hover */
  transform: scale(1.2);
  /* Pequeño zoom del 20% */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}